<app-home></app-home>
<hr />
<h3 class="mt-5 mb-3">Create a new reservation</h3>
<form  [formGroup]="reservationForm" (ngSubmit)="onSubmit()">
    <div class="mb-3 row">
        <div class="col">
            <label class="form-label">Check-In Date:</label>
            <input type="date" class="form-control" formControlName="checkInDate">
            <small class="text-danger" *ngIf="reservationForm.get('checkInDate')?.invalid 
            && reservationForm.get('checkInDate')?.touched">
            Check-In date is required</small>
        </div>
        <div class="col">
            <label class="form-label">Check-Out Date:</label>
            <input type="date" class="form-control" formControlName="checkOutDate">
            <small class="text-danger" *ngIf="reservationForm.get('checkOutDate')?.invalid 
            && reservationForm.get('checkOutDate')?.touched">
            Check-Out date is required</small>
        </div>
    </div>
    
    <div class="row mb-3">
        <div class="col">
            <label class="form-label">Guest Name:</label>
            <input type="text" class="form-control" formControlName="guestName">
            <small class="text-danger" *ngIf="reservationForm.get('guestName')?.invalid 
            && reservationForm.get('guestName')?.touched">
            Guest Name date is required</small>
        </div>
        <div class="col">
            <label class="form-label">Guest Email:</label>
            <input type="email" class="form-control" formControlName="guestEmail">
            <small class="text-danger" *ngIf="reservationForm.get('guestEmail')?.invalid 
            && reservationForm.get('guestEmail')?.touched">
            Guest Email date is required</small>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-3">
            <label class="form-label">Room Number:</label>
            <input type="number" class="form-control" formControlName="roomNumber">
            <small class="text-danger" *ngIf="reservationForm.get('roomNumber')?.invalid 
            && reservationForm.get('roomNumber')?.touched">
            Guest Email date is required</small>
        </div>
    </div>
    
    <button type="submit" class="btn btn-primary" [disabled]="reservationForm.invalid">Submit</button>
</form>